@media(min-width:992px){
     .container-l-PC{
        width:80%;
        margin: 0 auto;
    } 
    .navbar{
        justify-content: space-between;
        align-items: center;
        padding:1rem 0;
    }
    .navbar_list-left{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex:0 0 50%;
    }
   
    .nav_list-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex:0 0 50%;
    }
        
    
    .navbar_items{
        list-style-type: none;
       
    }
    .navbar_items-link{
        color:rgb(143,129,130);
        text-decoration: none;
        padding-right:  2rem;
    }
    
   
    .banner{
      display: block;
      overflow: hidden;
      
    }
    .banner_image{
        display: block;
        overflow: hidden; /*vì thẻ img là thẻ đặc biệt nên nếu muốn bao gồm trong container thì phải thêm thuộc tính overflow: hidden;*/
    }
    .banner_image img{
        width:100%;
        display: block;
        height: 500px;
        
    }
    .banner_content{
        top:-331px;
        position: relative;
    }
    .banner_title{
        font-size: 3vw;
        color:#fff;
        z-index: 1000;
        display: block;
        position: absolute;
        top:-20px;
    }
    .banner_detail{
        font-size: 2vw;
        color:#fff;
        z-index: 1000;
        display: block;
        position: absolute;
        top:28px;
        font-weight: lighter;
     
    }
    #content{
        
        background-color:  hsl(0,0%,93%);
        height:65%;
        padding: 2rem 0;
    }
    
    .content_titleanddetai{
        display: block;
        margin-bottom: 4rem;
       
    
    }
    .content_title{
        font-size: larger;
        display: block;
        color: rgb(143,129,130);
        
    }
    .content_detail{
        font-weight: lighter;
        display: block;
        color: rgb(143,129,130);
        margin-top: 1rem;
    }
    .content_image{
        margin-bottom:1.25rem;
        display: block;
    }
    .content_image img{
        max-width:100%;
    }
    
    [class*="content_image-col"]{
        padding-right: 1rem;
    }
    
    
    
    
    #footer{
        height:30%;
        background-color: rgb(247,247,247);
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }
    
    
    #footer p{
        margin-bottom: 0.625rem;
    }
    #footer a{
        color:rgb(122,211,249);
        padding-bottom: 3.125rem;
    }
    .My-lg{
        margin-bottom: 8% ;
    }
    
    .desktop-0{
        display: none;
    }
    .desktop-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .desktop-2{
        flex: 0 0 16.66666%;
        max-width: 16.6666%;
    }
    .desktop-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .desktop-4{
        flex: 0 0 33.33332%;
        max-width: 33.33332%;
    }
    .desktop-5{
        flex: 0 0 41.66665%;
        max-width: 41.66665%;
    }
    .desktop-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .desktop-7{
        flex: 0 0 58.33331%;
        max-width: 58.33331%;
    }
    .desktop-8{
        flex: 0 0 66.66664%;
        max-width: 66.66664%;
    }
    .desktop-9{
        flex: 0 0 75%;
        max-width: 75%;
    }
    .desktop-10{
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .desktop-11{
        flex: 0 0 91.66663%;
        max-width: 91.66663%;
    }
    .desktop-12{
        flex: 0 0 100%;
        max-width: 100%;
    }

}